.form {
    display: grid;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .label {
    display: block;
    justify-content: center;
    align-items: center;
  }

  .map {
width: 500px;
display: block;
margin-top: 20px;
justify-content: center;
align-items: center;
  }

  .logo {
    width: 170px;
    padding-top: 7px;
    display: inline-block;
   
  }

  .container {
    text-align: center;
  }

  